        *{
			box-sizing: border-box;
			margin: 0px
		}
		h1{
			text-align: center;
			font-size: 175%
			font-family: "Lucida Console";
		}
		section{
			border:1px solid black;
			margin: 10px;
			background-color: grey;
			float: left;
		}
		div{
			text-align: center;
			border:1px solid black;
			font-size: 125%;
			float: right;
			position: relative;
			width: 100px;
			top: 0px;
			right: 0px;
		}
        #Chicken>div{
        	background-color: pink;
        	color: black;
        }
        #Beef>div{
        	background-color: maroon;
            color: white; 
        }
        #Sushi>div{
        	background-color: yellow;
        	color: black;
        }
        p{
        	text-align: left;
        	clear: right;
        }
        @media (min-width: 992px){
        	section{
        		width:31%;
        	}
        }
        @media (min-width: 768px and max-width: 991px){
        	section{
        		width: 46%;
        	}
        }
        @media (max-width: 768px){
        	section{
        		width:95%;
        	}
        }